
<nav class="navbar navbar-expand-lg navbar-light bg-light" >
        <a class="navbar-brand" href="#">Travel to Thailand</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">Home </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/place/list">Place </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/hotel/list">Hotel </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/restaurant/list">Restaurant </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/api/user/logout">Logout </a>
            </li>
            </ul>
        </div>
    </nav>
    <div class="row">
        <div class="col-md-10 offset-md-1" style="background-color: #fff; margin-top:25px;padding:20px">
            <h3>{{viewTitle}}</h3>
            <form action="/hotel" method="POST" autocomplete="off">
                <input type="hidden" name="_id" value="{{hotel._id}}">
                <div class="form-group">
                    <label>Name</label>
                    <input type="text" class="form-control" name="name" placeholder="Name" value="{{hotel.name}}">
                    <div class="text-danger">{{hotel.nameError}}</div>
                </div>
                <div class="form-group">
                    <label>Address</label>
                    <input type="text" class="form-control" name="address" placeholder="Address" value="{{hotel.address}}">
                    <div class="text-danger">{{hotel.addressError}}</div>
                </div>
                <div class="form-group">
                    <label>Telephone</label>
                    <input type="text" class="form-control" name="tel" placeholder="Telephone" value="{{hotel.tel}}">
                    <div class="text-danger">{{hotel.telError}}</div>
                </div>
                <div class="form-group">
                    <label>Link</label>
                    <input type="text" class="form-control" name="link" placeholder="Link" value="{{hotel.link}}">
                    <div class="text-danger">{{hotel.linkError}}</div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-info"><i class="fa fa-database"></i> Submit</button>
                    <a class="btn btn-secondary" href="/hotel/list"><i class="fa fa-list-alt"></i> View All</a>
                </div>
            </form>
        </div>
</div>