<nav class="navbar navbar-expand-lg navbar-light bg-light" >
        <a class="navbar-brand" href="#">Travel to Thailand</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">Home </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/place/list">Place </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/hotel/list">Hotel </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/restaurant/list">Restaurant </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/api/user/logout">Logout </a>
            </li>
            </ul>
        </div>
    </nav>
<div class="row">
        <div class="col-md-10 offset-md-1" style="background-color: #fff; margin-top:25px;padding:20px">
<h3><a class="btn btn-secondary" href="/restaurant"><i class="fa fa-plus"></i> Create New</a> Restaurant List</h3>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Address</th>
            <th>Telephone</th>
            <th>Detail</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {{#each list}}
        <tr>
            <td>{{this.name}}</td>
            <td>{{this.address}}</td>
            <td>{{this.tel}}</td>
            <td>{{this.detail}}</td>
            <td>
                <a href="/restaurant/{{this._id}}"><i class="fa fa-pencil fa-lg" aria-hidden="true"></i></a>
                <a href="/restaurant/delete/{{this._id}}" onclick="return confirm('Are you sure to delete this record ?');"><i class="fa fa-trash fa-lg" aria-hidden="true"></i></a>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>
</div>
</div>